@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 19px;
  font-family: 'Nunito', sans-serif;
}

form{
  text-align: right;
  margin-right: 32em;
}

input {
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #262262;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.75em;
  font-family: 'Comfortaa', cursive;
}

.App-intro {
  font-size: large;
}

button {
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    background-color: #1DB361;

    border-radius: 8px;
    border-bottom: 4px solid #126B3A;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
}

button:hover {
  background-color: #53e896;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #126B3A;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}

button:active {
  background-color: #1263BA;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #1263BA;
  color: #CCC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
